.about-together h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin:0;
}
.about-together h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-style:italic;
    letter-spacing: 0.5px;
}
.about-together p {
font-family: var( --secondary-font);
}
.about-together a.size-style.button-custom {
    min-height: 48px;
    max-height: 48px;
    min-width: 250px;
    letter-spacing: .5px;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition:ease 0.2s;
}
.about-together a.size-style.button-custom:hover {
    background: #f6f7eb;
    color: #393e41;
}
.about-together  a.size-style.button-custom:after {
    content: "";
    background: url(/cdn/shop/files/btn-arrow-w.png?v=1782550501);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 11px;
}