.about-together h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.about-together h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-style:italic;
    letter-spacing: 0.5px;
}