.precision-sec  .text-block  h3{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin:0;
}
.precision-sec  .text-block  h2{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin:0;
    font-style:italic;
}
.precision-sec  .text-block   p{
  	font-family: var( --secondary-font);
}
.precision-sec  .group-block-content   .button{
  	font-weight:500;
    letter-spacing:0.5px;
    font-style:italic; 
}
.precision-sec  .image-block img{
  	font-weight:500;
    letter-spacing:0.5px;
    font-style:italic; 
}