nav.blog-category-tabs {
    background: #F9FAF5;
    margin: 0 0 50px 0;
    padding: 18px 0;
}
nav.blog-category-tabs li.blog-category-tabs__item a {
    font-size: 16px;
    color: #8F969A;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.5px;
    opacity: 1;
    padding: 2px 3px;
}
nav.blog-category-tabs li.blog-category-tabs__item a.is-active {
    color: #E94F37;
}