.blog-main-sec {
    margin: auto;
    max-width: 90%;
}
.article-tag {
    gap: 10px;
    display: flex;
    align-items: center;
}
.article-tag a.blog-post-card__tag {
    display: flex;
    align-items: center;
    gap: 10px;
}
.article-tag a.blog-post-card__tag ,
.article-tag .article-meta-info__date time{
    color: #8F969A;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    	font-family: var( --secondary-font);
}
.article-tag a.blog-post-card__tag:after {
    content: "";
    height: 3px;
    width: 3px;
    background: #8F969A;
    border-radius: 5px;
    display: block;
}
.blog-left-sec .text-block h1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.blog-left-sec .blog_social h2 {
    margin: 0;
    font-size: 14px;
    color: #393E41;
    font-family: var( --secondary-font);
    margin-bottom: 10px;
}
.blog-left-sec .text-block h3 {
    text-transform: uppercase;
    font-weight: 500;
}
.blog_social button.share-btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-color: #8F969A;
}
.blog_social button.share-btn svg path {
    stroke: #393E41;
}
.blog_social button.share-btn.share-facebook svg path {
    stroke: unset; fill:#393E41;
}
.recommended-widget-card {
    background: #F9FAF5;
    padding: 20px;
    border-radius: 16px;
    margin-top: 30px;
}
.recommended-widget-card h3.recommended-widget-card__heading {
    color: #393E41;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.recommended-widget-card .recommended-product-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D7D9DA;
    padding-bottom: 10px;
}
.recommended-widget-card__items .recommended-product-item:last-child {
    border: none;
}
.recommended-widget-card .recommended-product-item .recommended-product-item__image-container {
    width: 130px;
}
.recommended-widget-card .recommended-product-item .recommended-product-item__image-container img.recommended-product-item__image {
    min-width: 130px;
    max-width: 100%;
    border-radius: 6px;
    min-height: 130px;
    max-height: 130px;
}
.recommended-widget-card .recommended-product-item h4.recommended-product-item__title {
    color: #3D3A35;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0  5px 0;
    line-height: normal;
    letter-spacing: 0.5px;
}
.recommended-widget-card .recommended-product-item  span.recommended-product-item__price {
    font-size: 14px;
    color: #393E41;
    margin-bottom: 5px;
    display: block;
     font-family: var( --secondary-font);
}
.recommended-widget-card .recommended-product-item a.button {
    background: #393E41;
    min-height: 48px;
    max-height: 48px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-style: italic;
    width: 100%;
    transition:ease 0.2s;
}
.recommended-widget-card .recommended-product-item .recommended-product-item__details {
    width: 100%;
}