.blog-main-sec {
    margin: auto;
    max-width: 90%;
}
.article-tag {
    gap: 10px;
    display: flex;
    align-items: center;
}
.article-tag a.blog-post-card__tag ,
.article-tag .article-meta-info__date time{
    color: #8F969A;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    	font-family: var( --secondary-font);
}
.article-tag a.blog-post-card__tag:after {
    content: "";
    height: 3px;
    width: 3px;
    background: #8F969A;
    border-radius: 5px;
    display: block;
}