.blog-main-sec {
    margin: auto;
    max-width: 90%;
}
.article-tag {
    gap: 10px;
    display: flex;
    align-items: center;
}
.article-tag a.blog-post-card__tag ,
.article-tag a.blog-post-card__tag time{
    color: #8F969A;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}