.brand-sec h3 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.brand-sec .group-block-content {
	max-width: 900px;
	margin: 10px auto;
}
.brand-sec .group-block-content .image-block img {
	min-width: 150px;
	min-height: unset;
	object-fit: contain;
	max-width: unset;
	max-height: 70px;
}
.brand-sec p{
  	font-family: var( --secondary-font);  
}
.brand-sec p::before {
	content: "";
	background: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/material-symbols_check.png?v=1782547131');
	width: 20px;
	height: 20px;
	display: inline-block;
}