nav.breadcrumbs__nav li a, nav.breadcrumbs__nav li span {
    color: #F9FAF5;
    font-size: 12px;
    opacity: 1;
    font-family: var( --secondary-font);
    font-weight: 400;
}
nav.breadcrumbs__nav li:before {
    color: #F9FAF5;
}