nav.breadcrumbs__nav li a, nav.breadcrumbs__nav li span {
    color: #F9FAF5;
    font-size: 12px;
    opacity: 1;
    font-family: var( --secondary-font);
    font-weight: 400;
}
nav.breadcrumbs__nav .breadcrumbs__item+.breadcrumbs__item:before {
    color: #f9faf5;
    content: "";
    width: 15px;
    height: 15px;
    background: url(/cdn/shop/files/btn-arrow-w.png?v=1782550501);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center;
}