nav.breadcrumbs__nav li a, nav.breadcrumbs__nav li span {
    color: #F9FAF5;
    font-size: 12px;
    opacity: 1;
    font-family: var( --secondary-font);
    font-weight: 400;
}
nav.breadcrumbs__nav .breadcrumbs__item+.breadcrumbs__item:before {
    color: #f9faf5;
    content: "";
    width: 15px;
    height: 15px;
    background: url(https://cdn.shopify.com/s/files/1/0717/5595/6469/files/breadcrumb-icn.svg?v=1782834768);
    background-size: 5px;
    background-repeat: no-repeat;
    background-position: center;
}