.facets h4.facets--filters-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    position: relative;
    top: 35px;
}
.facets__filters-wrapper accordion-custom.facets__item:nth-child(1):before {
    opacity: 0;
}
.facets__filters-wrapper accordion-custom.facets__item span.facets__label {
    font-size: 14px;
    	font-family: var( --secondary-font);
    color: #8F969A;
}
.facets__filters-wrapper accordion-custom.facets__item label.checkbox__label span.checkbox__label-text {
    color: #393E41;
}
.facets__filters-wrapper accordion-custom.facets__item  .checkbox__input:checked+.checkbox__label .icon-checkmark {
    background-color: #E94F37;
    border-color: #E94F37;
}
.main-collection-grid product-card .product-card__content .product-media img {
    border-radius: 20px;
}
.main-collection-grid product-card .product-card__content .text-block p {
    font-weight: 500;
    color: #3D3A35;
    letter-spacing: 0.2px;
}
.main-collection-grid product-card .product-card__content .price__regular span {
    color: #393E41;
    font-size: 14px;
    	font-family: var( --secondary-font);
}
.main-collection-grid product-card .product-card__content a.button {
	font-weight: 500;
	font-style: italic;
	background: #393e41;
	letter-spacing: .5px;
	transition: ease .2s;
	width: 100%;
}
.main-collection-grid product-card .product-card__content  a.button:hover{
    background:#f6f7eb;  color: #393E41;
}
sorting-filter-component.sorting-filter summary.facets__summary {
    color: #393E41;	font-family: var( --secondary-font);
}
.facets .products-count-wrapper span {
    color: #8F969A;	font-size:12px;
}
.facets__filters-wrapper {
    margin-top: 20px;
}
.facets .products-count-wrapper {
    position: absolute;
    left: 0;
}
.facets sorting-filter-component.sorting-filter {
    position: absolute;
    right: 0;
}
results-list.section.product-grid-container {
    margin-top: 20px;
}.facets {
    margin-bottom: 15px;
}
.facets .facets-remove.facets-remove--mobile-and-vertical {
    margin-top: 20px;
}
.product-grid-container .facets-toggle__wrapper .button {
	background: none;
	color: #393E41;
}
.main-collection-grid .product-grid li .product-card__content {
	position: relative;
	padding-bottom: 70px;
}
.main-collection-grid .product-grid li .buy-buttons-block {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
@media only screen and (max-width:767px){
.main-collection-grid {
	padding: 0 20px;
}
.main-collection-grid product-card .product-card__content a.button {
	font-size: 14px;
	padding: 10px;
	min-height: 48px;
}
.main-collection-grid product-card .product-card__content .product-media img {
    border-radius: 8px;
}

}