.collection-list h2 {
	text-transform: uppercase;
	font-size: 48px;
	font-style: italic;
	font-weight: 500;
} 
.collection-list .resource-list__carousel .resource-list__slide {
	padding: 0 10px;
}