.collection-list h2 {
	text-transform: uppercase;
	font-size: 48px;
	font-style: italic;
	font-weight: 500;
} 
.collection-list .resource-list__carousel .resource-list__slide {
	padding: 0 10px;
}
.collection-list .resource-list__carousel .resource-list__slide .collection-card__image {
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;
}
.collection-list .collection-card__content {
	justify-content: end;
	align-items: center;
}
.collection-list .collection-card__content .text-block {
	border-radius: 8px;
	padding: 15px 20px;
	position: relative;
	width: 100%;
	max-width: 90%;
	display: flex;
	flex-direction: row;
}
.collection-list .collection-card__content .text-block::after {
	content: "";
	background: url(/cdn/shop/files/button-arrow.svg?v=1782455872);
	width: 19px;
	height: 19px;
	background-repeat: no-repeat;
	background-size: 10px;
	display: inline-block;
}
.collection-list .collection-card__content .text-block p {
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
	letter-spacing: .5px;
	text-transform: uppercase;
	width: auto;
	text-align: center;
	margin: auto;
}