.collection-list h2 {
	text-transform: uppercase;
	font-size: 48px;
	font-style: italic;
	font-weight: 500;
} 
.collection-list .resource-list__carousel .resource-list__slide {
	padding: 0 10px;
}
.collection-list .resource-list__carousel .resource-list__slide .collection-card__image {
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;
}
.collection-list .collection-card__content {
	justify-content: end;
	align-items: center;
}
.collection-list .collection-card__content .text-block {
	border-radius: 8px;
	padding: 10px;
}