.contact-left-img img {
    position: relative;
    top: -51px;
}
.contact-right-sec h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.contact-right-sec h5{
   font-size:16px;	font-family: var( --secondary-font);
}
.contact-right-sec p{
   font-size:14px;
   	font-family: var( --secondary-font);
}
.contact-right-sec {
    padding-right: 100px;
}
.contact-text p{  font-size:16px;}
.contact-right-sec .globo-form-app {
    margin: 0;
    max-width: 100% !important;
}
.contact-right-sec .globo-form-control label {
    position: relative !important;
    margin-left: -20px;
    top: -10px !important;
    	font-family: var( --secondary-font);
    font-size: 14px !important;
    color: #393E41 !important;
}
.contact-right-sec .globo-form-control label span.text-danger.text-smaller {
    color: red;
}
.contact-right-sec  .globo-form-input input ,
.contact-right-sec  .globo-form-input textarea{
    background: #F9FAF5 !important;
    padding: 10px !important;
    font-family: var( --secondary-font);
}