.contact-left-img img {
    position: relative;
    top: -51px;
}
.contact-right-sec h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.contact-right-sec h5{
   font-size:16px;	font-family: var( --secondary-font);
}
.contact-right-sec p{
   font-size:14px;
   	font-family: var( --secondary-font);
}
.contact-right-sec {
    padding-right: 100px;
}
.contact-text p{  font-size:16px;}
.contact-right-sec .globo-form-app {
    margin: 0;
    max-width: 100% !important;
}
.contact-right-sec .globo-form-control label {
    position: relative!important;
    font-family: var( --secondary-font);
    font-size: 14px!important;
    color: #393e41!important;
    margin-left: -5px;
    transform: unset !important;
    font-weight: normal !important;
}
.contact-right-sec .globo-form-control label span.text-danger.text-smaller {
    color: red;
}
.contact-right-sec .gfb__dropzone {
    min-height: 51px !important;
    max-height: 51px;
    background: #F9FAF5 !important;
}
.contact-right-sec  .globo-form-input input ,
.contact-right-sec  .globo-form-input textarea{
    background: #F9FAF5 !important;
    padding: 10px !important;
    font-family: var( --secondary-font);
}
.contact-right-sec  .gfb-style-material_filled [data-type=file2] .globo-label{
     margin-left: -0;
}
 .contact-right-sec .gfb__dropzone--placeholder {
    flex-direction: row !important;
}
.contact-right-sec  .gfb__dropzone--placeholder--title{
       font-size:14px;
   	font-family: var( --secondary-font);
}
.contact-right-sec .gfb__dropzone--placeholder button.gfb__dropzone--placeholder--button {
    order: -1;
    border: none !important;
    color: transparent !important;
    width: 20px;
    padding: 0;
    background-image: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/Vector_1d164c59-d647-4b85-a97c-c422abaa1077.svg?v=1783182331') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.contact-right-sec .gfb__footer.wizard__footer .next.submit {
    font-size: 16px;
    min-width: 250px;
    min-height: 48px;
    background: #393E41;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-style: italic;
    font-family: var(--font-paragraph--family);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:ease 0.2s;
    font-weight:500;
}
.contact-right-sec .gfb__footer.wizard__footer .next.submit:hover {
    background: #f6f7eb;
    filter: unset;  color: #393E41;
    box-shadow: none;
}

.contact-right-sec .gfb__footer.wizard__footer .next.submit:after {
    content: "";
    width: 20px;
    height: 20px;
    background: url(/cdn/shop/files/angle-right-solid.svg?v=1783182644);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1px;
}
.contact-right-sec .gfb__footer.wizard__footer .next.submit:hover:after {
    background: url(/cdn/shop/files/btn-arrow-b.png?v=1782550506);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: center;
}
@media only screen and (max-width:991px){
.contact-right-sec {
	padding-right: 20px;
}
}