.contact-left-img img {
    position: relative;
    top: -51px;
}
.contact-right-sec h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.contact-right-sec h5{
   font-size:16px;	font-family: var( --secondary-font);
}
.contact-right-sec p{
   font-size:14px;
   	font-family: var( --secondary-font);
}
.contact-right-sec {
    padding-right: 100px;
}