.call-stencil .image-block img{border-top-left-radius:80px;border-bottom-right-radius:80px;} 
.custom-accordion summary.details__header {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
body.template-page .custom-accordion .text-block h3 {
    margin: auto;
}
.quick-form .globo-form-app {
    width: 100%;
    max-width: 900px;
}
@media only screen and (max-width:991px){
.call-stencil .layout-panel-flex,
.streamline-operation .layout-panel-flex,
.custom-section-content .layout-panel-flex{padding-left:0; padding-right:0;}
.custom-accordion summary.details__header {
    font-size: 16px;
}
.call-stencil .image-block img{border-top-left-radius:50px;border-bottom-right-radius:50px;} 
}