.call-stencil .image-block img{border-top-left-radius:80px;border-bottom-right-radius:80px;} 
.custom-accordion summary.details__header {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
body.template-page .custom-accordion .text-block h3 {
    margin: auto;
}
.quick-form .globo-form-id-62465  .globo-form-app {
    width: 100%;
    max-width: 900px;
    background: transparent ;
}
.quick-form .globo-form-id-62465  .globo-form-app .globo-form-input input, .quick-form .globo-form-id-62465  .globo-form-app .globo-form-input select,
.quick-form .globo-form-id-62465  .globo-form-app .globo-form-input textarea {
    background-color: #f9faf5 ;
}
body .quick-form .globo-form-id-62465 .globo-form-app small.help-text.globo-description,
body .quick-form .globo-form-id-62465 .globo-form-app .globo-form-control[data-type="file2"] .material_filled-label span.label-content {
    color: #FDFDFC;
}
body .quick-form .globo-form-id-62465 .globo-form-app .globo-form-input {
    background: #f9faf5;
    border-radius: 8px;
}
body .quick-form .globo-form-id-62465 .globo-form-app .gfb__footer.wizard__footer button.action.next.submit {
    min-width: 230px;
    min-height: 48px;
    background: #E94F37;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-style: italic;
    font-family: var(--font-h2--family);
}
body .quick-form .globo-form-id-62465 .globo-form-app .gfb__footer.wizard__footer button.action.next.submit:hover {
    background: #f6f7eb;
    color: #393e41;
}
body .quick-form .globo-form-id-62465 .globo-form-app label.material_filled-label span {
    font-family: var( --secondary-font);
    color: #393e41 !important;
    letter-spacing: 0.5px;
}
body .quick-form .globo-form-id-62465 .globo-form-app .globo-g-recaptcha div {
    margin: auto;
}
body .quick-form .globo-form-id-62465 .globo-form-app .globo-form-control.has-error .globo-g-recaptcha + input + .messages {
	text-align: center;
}
.call-stencil  slideshow-arrows .slideshow-control {
	background: #e94f37;
	width: 40px;
	height: 40px;
	display: block !important;
	opacity: 1;
	border-radius: 100%;
	animation: unset !important;
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.5);
}
.call-stencil slideshow-arrows .slideshow-control span {
	display: none;
}
.call-stencil slideshow-arrows .slideshow-control.slideshow-control--previous {
	right: 100px;
	background-image: url(/cdn/shop/files/slider-arrow.svg?v=1782477639);
	background-repeat: no-repeat;
	background-position: center;
	transform: unset;
	scale: unset;
}
.call-stencil slideshow-arrows .slideshow-control.slideshow-control--next {
	right: 40px;
	background-image: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/slider-arrow2.svg?v=1782489726');
	background-repeat: no-repeat;
	background-position: center;
}

.call-stencil slideshow-arrows {
	mix-blend-mode: unset;
}
@media only screen and (max-width:991px){
.call-stencil .layout-panel-flex,
.streamline-operation .layout-panel-flex,
.custom-section-content .layout-panel-flex{padding-left:0; padding-right:0;}
.custom-accordion summary.details__header {
    font-size: 16px;
}
.call-stencil .image-block img{border-top-left-radius:50px;border-bottom-right-radius:50px;} 
}