.featured-blog-posts h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0;
}
.featured-blog-posts h3 strong {
    font-weight: 500;
    color: #E94F37;
    font-style: italic;
}
.featured-blog-posts .featured-blog-posts-card__inner img.resource-image__image {
    max-height: 260px;
    border-radius: 16px;
}
.featured-blog-posts .resource-image {
    max-height: 260px;
}
.featured-blog-posts .featured-blog-posts-card__content a.blog-post-card__tag,
.featured-blog-posts .featured-blog-posts-card__content time {
    font-size: 12px;
    color: #8F969A;
    	font-family: var( --secondary-font);
    font-weight: normal;
}
.featured-blog-posts .featured-blog-posts-card__content h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500; 
    letter-spacing: 0.5px;
    	font-family: var( --secondary-font);
    color: #3D3A35;
}