.best-seller-sec h2 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-style: italic;
}.best-seller-sec .resource-list__slide .card-gallery {
	border-radius: 16px;
}
.best-seller-sec .resource-list__slide {
	padding: 0 6px;
}
.best-seller-sec .resource-list__slide .h4 p {
	font-size: 16px;
	font-weight: 500;
	min-height: 34px;
}
.best-seller-sec .resource-list__slide .price__regular .price {
	font-size: 14px;
    font-family:var(--secondary-font);
}
.best-seller-sec .product-form-buttons .button {
	background: #393E41;
	opacity: 1;
	font-weight: 500;
	align-items:center;
}
.best-seller-sec .product-form-buttons .button:hover {
	background: #f6f7eb;
    color:#393E41;
}
.brand-sec p::before {
	content: "";
	background: url(/cdn/shop/files/material-symbols_check.svg?v=1782494072);
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
.best-seller-sec slideshow-arrows .slideshow-control {
	position: absolute;
	top: -70px;
	right: 0;
	background: #e94f37;
	width: 40px;
	height: 40px;
	display: block !important;
	opacity: 1;
	border-radius: 100%;
	animation: unset !important;
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.5);
}
.best-seller-sec slideshow-arrows .slideshow-control span {
	display: none;
}
.best-seller-sec slideshow-arrows .slideshow-control.slideshow-control--previous {
	right: 100px;
	background-image: url(/cdn/shop/files/slider-arrow.svg?v=1782477639);
	background-repeat: no-repeat;
	background-position: center;
	transform: unset;
	scale: unset;
}
.best-seller-sec slideshow-arrows .slideshow-control.slideshow-control--next {
	right: 40px;
	background-image: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/slider-arrow2.svg?v=1782489726');
	background-repeat: no-repeat;
	background-position: center;
}

.best-seller-sec slideshow-arrows {
	mix-blend-mode: unset;
}

.best-seller-sec .resource-list__slide .h4 p {
	min-height: 35px;
}
.best-seller-sec .text-block h2 {
    font-weight: 500;
    letter-spacing: .5px;
}
.best-seller-sec  .text-block h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
}
@media only screen and (max-width:991px){
.best-seller-sec .resource-list__slide {
	padding: 0;
}
.best-seller-sec .resource-list__slide .card-gallery {
	border-radius: 8px;
}
.best-seller-sec .resource-list__slide .h4 p {
	font-size: 14px;
}
.best-seller-sec .product-form-buttons .button {
	padding: 10px;
}
}
@media only screen and (max-width:767px){
.best-seller-sec slideshow-arrows .slideshow-control.slideshow-control--previous {
    right: 70px;
    background-size: 18px;
}
.best-seller-sec slideshow-arrows .slideshow-control.slideshow-control--next {
    right: 20px;
     background-size: 18px;
}
.best-seller-sec slideshow-arrows .slideshow-control {
    width: 35px;
    height: 35px;
	min-width:unset;
	min-height:unset;
}
.best-seller-sec h2 {
    font-size: 32px;
}
.best-seller-sec slideshow-arrows .slideshow-control {
    top: -58px;
}
.best-seller-sec .resource-list__slide .h4 p {
    font-size: 14px;
    min-height: 35px;
}
}