.featured-blog-posts h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0;
}
.featured-blog-posts h3 strong {
    font-weight: 500;
    color: #E94F37;
    font-style: italic;
}
.featured-blog-posts .featured-blog-posts-card__inner img.resource-image__image {
    max-height: 260px;
    border-radius: 16px;
}
.featured-blog-posts .resource-image {
    max-height: 260px;
}
.featured-blog-posts .featured-blog-posts-card__content a.blog-post-card__tag,
.featured-blog-posts .featured-blog-posts-card__content time{
    font-size: 12px;
    color: #8F969A;
    	font-family: var( --secondary-font);
    font-weight: normal;
}
.featured-blog-posts .featured-blog-posts-card__content h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500; 
    letter-spacing: 0.5px;
    color: #3D3A35;
}
.featured-blog-posts-card__content .blog-post-card__button-wrapper .button {
    font-size: 16px;
    background: none;
    padding: 0;
    color: #e94f37;
    font-weight: 500;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    font-style: italic;
}
.featured-blog-posts-card__content .blog-post-card__button-wrapper .button:after {
    content: "";
    width: 25px;
    height: 25px;
    background: url(/cdn/shop/files/read-more-icn.svg?v=1783095734);
    background-size: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.featured-blog-posts-card__content .blog-post-card__button-wrapper {
    margin: 0;
}