.featured-blog-posts h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0;
}
.featured-blog-posts h3 strong {
    font-weight: 500;
    color: #E94F37;
    font-style: italic;
}
.featured-blog-posts .featured-blog-posts-card__inner img.resource-image__image {
    max-height: 260px;
    border-radius: 16px;
}
.featured-blog-posts .resource-image {
    max-height: 260px;
}
.featured-blog-posts .featured-blog-posts-card__content a.blog-post-card__tag,
.featured-blog-posts .featured-blog-posts-card__content time{
    font-size: 12px;
    color: #8F969A;
    	font-family: var( --secondary-font);
    font-weight: normal;
}
.featured-blog-posts .featured-blog-posts-card__content h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500; 
    letter-spacing: 0.5px;
    color: #3D3A35;
}
.featured-blog-posts .featured-blog-posts-card__content .blog-post-card__button-wrapper .button {
    font-size: 16px;
    background: none;
    padding: 0;
    color: #e94f37;
    font-weight: 500;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    font-style: italic;
}
.featured-blog-posts .featured-blog-posts-card__content .blog-post-card__button-wrapper .button:after {
    content: "";
    width: 25px;
    height: 25px;
    background: url(/cdn/shop/files/read-more-icn.svg?v=1783095734);
    background-size: 10px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.featured-blog-posts .featured-blog-posts-card__content .blog-post-card__button-wrapper {
    margin: 0;
}
.featured-blog-posts slideshow-arrows .slideshow-control {
	position: absolute;
	top: -70px;
	right: 0;
	background: #e94f37;
	width: 40px;
	height: 40px;
	display: block !important;
	opacity: 1;
	border-radius: 100%;
	animation: unset !important;
	box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.5);
}
.featured-blog-posts slideshow-arrows .slideshow-control span {
	display: none;
}
.featured-blog-posts slideshow-arrows .slideshow-control.slideshow-control--previous {
	right: 100px;
	background-image: url(/cdn/shop/files/slider-arrow.svg?v=1782477639);
	background-repeat: no-repeat;
	background-position: center;
	transform: unset;
	scale: unset;
}
.featured-blog-posts slideshow-arrows .slideshow-control.slideshow-control--next {
	right: 40px;
	background-image: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/slider-arrow2.svg?v=1782489726');
	background-repeat: no-repeat;
	background-position: center;
}

.featured-blog-posts slideshow-arrows {
	mix-blend-mode: unset;
}
.fe-tag {
    display: flex;
    align-items: center;
    gap: 15px;
}
.fe-tag a.blog-post-card__tag {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.fe-tag a.blog-post-card__tag:after {
    content: "";
    height: 10px;
    width: 1px;
    background: #8F969A;
    display: block; 
}
@media only screen and (max-width:1200px){
.featured-blog-posts .featured-blog-posts-card__inner img.resource-image__image {
	max-height: 190px;
}
}