.footer-content {
display:block;
width:100%;
}
.footer-content .group-block-content p {
	font-size: 14px;
    	font-family: var( --secondary-font);
}
.footer-content  .menu .menu__heading__default {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
}
.footer-content  nav li  a{
	font-size: 16px;
	font-weight: 500;
}
.footer-utilities__group-copyright span.footer-utilities__text,
.footer-utilities__group-copyright span.ooter-utilities-designby  {
    font-size: 14px;
	font-family: var( --secondary-font);
    color: #FDFDFC;
}
.footer-content  .payment-icons,
.footer-content  .footer-utilities__group-copyright,
.footer-content  .social-icons__wrapper{
    width: 33%;
}
.footer-content .footer-utilities__group-copyright {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-content .footer-logo {
    max-width: 850px;
    margin: 30px auto;
    display: flex;
    gap: 50px;
}
.footer-content .footer-logo img.image-block__image {
    min-height: 50px;
    object-fit: contain;
    min-width: 100px;
    max-height: 50px;
    max-width: 100px;
}
.footer-content  .social-icons__wrapper .social-icons__icon-wrapper {
    background: #FFFFFF26;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.footer-content nav li a:hover{text-decoration:underline;}
.footer-content .social-icons__wrapper svg path {
    fill: #FDFDFC;
}
@media only screen and (max-width:1200px){
.footer-content .footer-utilities__group-copyright {
    gap: 0;
    flex-direction: column;
}
.footer-utilities__group-copyright span.footer-utilities__text, .footer-utilities__group-copyright span.ooter-utilities-designby {
    font-size: 13px;
}
}
@media only screen and (max-width:991px){
.footer-content .footer-logo img.image-block__image {
    min-height: 40px;
    min-width: 70px;
    max-height: 40px;
    max-width: 70px;
}
.footer-content .footer-logo {
    gap: 10px;
    justify-content: center;
}
.footer-menu-sec,
.policy-sec {
    padding-left: 30px;
    padding-right: 30px;
}

}
@media only screen and (max-width:767px){
.footer-menu-sec summary.menu__heading {
    padding: 0;
}
.footer-menu-sec summary.menu__heading span.menu__heading__accordion {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-content nav li a {
    font-size: 14px;

}
.footer-menu-sec nav.details-content {
    padding-top: 10px;
    display: block;
}
.footer-content .footer-logo img.image-block__image {
    min-height: 60px;
    min-width: 70px;
    max-height: 40px;
    max-width: 80px;
}
.footer-content .payment-icons, .footer-content .footer-utilities__group-copyright, .footer-content .social-icons__wrapper {
    width: 100%;
}
.footer-utilities__group-copyright span.footer-utilities__text, .footer-utilities__group-copyright span.ooter-utilities-designby {
	font-size: 14px;
	text-align: center;
}
.footer-content .payment-icons__list {
	margin: 15px 0;
}
.policy-sec .footer-utilities__group-copyright {
    order: 2;
}
.policy-sec .payment-icons {
    order: 3;
}
.policy-sec .social-icons__wrapper {
    order: 1;
}
}