.footer-content {
display:block;
width:100%;
}
.footer-content .group-block-content p {
	font-size: 14px;
    	font-family: var( --secondary-font);
}
.footer-content  .menu .menu__heading__default {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
}
.footer-content  nav li  a{
	font-size: 16px;
	font-weight: 500;
}
.footer-utilities__group-copyright span.footer-utilities__text,
.footer-utilities__group-copyright span.ooter-utilities-designby  {
    font-size: 14px;
	font-family: var( --secondary-font);
    color: #FDFDFC;
}
.payment-icons {
    width: 33%;
}