.guaranteed-sec .section-content-wrapper {
	width: 100%;
	max-width: 920px;
	margin: auto;
}
.guaranteed-sec .section-content-wrapper h2 {
	margin: 0 0 10px 0;
    font-weight:500;
    letter-spacing:0.5px;
	text-transform: uppercase;
}
.guaranteed-sec .section-content-wrapper h2 em {
	color: #FDFDFC;
}
.guaranteed-sec .section-content-wrapper p {
	font-family: var( --secondary-font);
	line-height: normal;
}
@media only screen and (max-width:1300px){
.guaranteed-sec .section-content-wrapper {
	max-width: 750px;
}
}
@media only screen and (max-width:767px){
.guaranteed-sec .section-content-wrapper h2 {
    font-size: 32px;
}
.guaranteed-sec .section-content-wrapper p {
    font-size: 16px;
}
.guaranteed-sec .background-image-container:before {
    background: none;
}
}