.header__row nav.menu-list li.menu-list__list-item span {
    font-weight: 500;
    letter-spacing: 0.5px;
}
#header-component .header__column.header__column--right svg {
	width: 19px;
	height: 19px;
}
#header-component .menu-list:not(:has(.menu-list__list-item:hover)) .menu-list__link--active,
 #header-component .menu-list .menu-list__list-item:where(:hover,:focus-within) .menu-list__link,
 #header-component  .menu-list .menu-list__list-item[slot=overflow] .menu-list__link[aria-expanded=true] {
    color: #e94f37;
}
#header-component .menu-list:not(:has(.menu-list__list-item:hover)) .menu-list__link--active  svg.icon-chevron-down,
 #header-component .menu-list .menu-list__list-item:where(:hover,:focus-within) .menu-list__link  svg.icon-chevron-down{
   transform: rotate(180deg);
 }

@media only screen and (max-width:991px){
.header .menu-drawer__navigation,
.header .menu-drawer,
.header .menu-drawer__submenu {
    background: #F9FAF5;
}
nav.menu-drawer__navigation ul.menu-drawer__menu .menu-drawer__menu-item-text {
    font-size: 18px;
    font-weight: 500;
    color: #393E41;
}
.header .menu-drawer__menu-container--divider ,
.header .menu-drawer__list-item--divider{
    border: none;
}

.header ul.menu-drawer__menu.menu-drawer__menu--childlist {
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
     overflow-y:hidden;
}
.header ul.menu-drawer__menu.menu-drawer__menu--childlist li  a {
    white-space: nowrap;
    padding:0 10px;
}
.header nav.menu-drawer__navigation ul.menu-drawer__menu.menu-drawer__menu--childlist li a span {
    font-size: 14px;
    color: #393E41;
}
.header .menu-drawer__menu--childlist:not(.menu-drawer__menu--grid) {
    flex-grow: unset;
}
.header__columns .search-action span.svg-wrapper {
    width: 19px;
}
}