.header__row nav.menu-list li.menu-list__list-item span {
    font-weight: 500;
    letter-spacing: 0.5px;
}
#header-component .header__column.header__column--right svg {
	width: 19px;
	height: 19px;
}
@media only screen and (max-width:991px){
.header .menu-drawer__navigation {
    background: #F9FAF5;
}
}