.ups-sec .image-block img{border-top-left-radius:80px;border-bottom-right-radius:80px;}
.ups-sec .text-block p{
    text-transform:uppercase;
letter-spacing:0.5px; font-size:20px;}
.infinity-stencil-two .image-block img.image-block__image.border-style {
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    max-height: 400px;
    object-position: top;
}

.infinity-stencil .layout-panel-flex {
	padding-left: 0;
	padding-right: 0;
}