.newsletter-sec h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.newsletter-sec h2 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 36px;
	font-style: italic;
	letter-spacing: .5px;
}
.newsletter-sec p {
	font-family:var(--secondary-font);
    	letter-spacing: 0.5px;
}
.newsletter-sec .email-signup__input {
	min-width: unset;
	max-height: 48px;
	width: 70%;
	outline: unset;
}

.newsletter-sec .email-signup__button {
	min-width: 220px;
	max-height: 48px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 0.5px;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
    cursor:pointer;
    transition:ease 0.2s;
      outline: unset;
}
.newsletter-sec .email-signup__button:hover {
	background:#f6f7eb;
    color:#393E41;
  
}
.newsletter-sec .email-signup__button::after {
	content: "";
	background: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/btn-arrow-w.png?v=1782550501');
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 11px;
}
.newsletter-sec .email-signup__button:hover::after {
	background: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/btn-arrow-b.png?v=1782550506');
	background-size: 11px;
    	background-repeat: no-repeat;
}
.newsletter-sec .email-signup-block .svg-wrapper.icon-success {
	color: #fff;
}

@media only screen and (max-width:1400px){
.newsletter-sec h2 {
	font-size: 33px;
}
}
@media only screen and (max-width:1300px){
.newsletter-sec h2 {
	font-size: 26px;
}
}