.newsletter-sec h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.newsletter-sec h2 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 40px;
	font-style: italic;
	letter-spacing: 0.5px;
}
.newsletter-sec p {
	font-family:var(--secondary-font);
    	letter-spacing: 0.5px;
}
.newsletter-sec .email-signup__input {
	min-width: unset;
	max-height: 48px;
	width: 70%;
}
.newsletter-sec .email-signup__button {
	min-width: 220px;
	max-height: 48px;
}
.newsletter-sec .email-signup__button {
	min-width: 220px;
	max-height: 48px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 0.5px;
}