.product-information .product-information__media .product-media img {
    border-radius: 30px;
}
.product-information  slideshow-controls[thumbnails] {
    justify-content: center;
    margin-top: 30px;
}
.product-details .text-block h1 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.classfication-bx .text-block p {
    font-size: 12px;
    font-family: var( --secondary-font);
    white-space: nowrap;
}
.classfication-bx .group-block {
    border: 1px solid #E94F37;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    flex: unset;
}
.product-details .text-block p,
.product-details li  {
    font-size: 14px;
    color: #393E41;
     font-family: var( --secondary-font);
    line-height: normal;
    margin-bottom:3px;
}
.product-details .mw-apo-container .mw-stack__item span.mw-text {
    font-size: 16px;
    font-weight: 500;
    color: #3D3A35;
}
.product-details .mw-apo-container .mw-option__swatch-media {
    width: 45px !important;
    height: 45px;
}
.product-details .mw-option__value .mw-stack__item  .mw-stack__item.mw-stack__item-swatch {
    padding: 0;
}
.product-details .mw-option__value .mw-option__swatch-image--padding {
    border-radius: 8px;
    padding: 0;
}
.product-details .mw-option__value.mw-option__value--selected .mw-stack__item .mw-option__swatch-media.mw-option__swatch-media--swatch-custom-style {
    border: 2px solid #393E41;
    border-radius: 8px;
}
.product-details .mw-stack>.mw-stack__item {
    margin-top: 4px;
    position:relative;
}
.product-details  .mw-option--type-swatch .mw-option__container {
    margin-top: 0;
}
.product-details .mw-apo-container .mw-option--type-choicetile .mw-option__container .mw-option__value {
    flex: unset !important;
    max-width: 100% !important;
    width: 70px;
    height: 50px;
}
.product-details  .mw-apo-container .mw-option--type-choicetile .mw-option__container .mw-option__value label.mw-label.mw-label__card-wrapper {
    background: #F9FAF5;
}
.product-details .mw-apo-container .mw-option--type-choicetile .mw-option__container .mw-option__value .mw-stack--card__title {
    justify-content: center;
}
.product-details .mw-apo-container .mw-option--type-choicetile .mw-option__container .mw-option__value .mw-stack--card__title .mw-stack--card__title {
    font-size: 14px;
    font-weight: normal;
      font-family: var( --secondary-font);
    color: #393E41;
}
.product-details .mw-apo-container .mw-option--type-choicetile .mw-option__container .mw-option__value .mw-stack.mw-stack--card {
    gap: 0;
}
.product-details .mw-apo-container .mw-option--type-choicetile .mw-option__container .mw-option__value .mw-stack.mw-stack--card .mw-stack--card__description {
    color: #8F969A; font-family: var( --secondary-font);
    font-size: 12px;
    text-align: center;
}
.product-details .mw-option--type-button .mw-option__container {
    margin-top: 0;
}
.product-details .mw-option--type-button .mw-option__control:checked+.mw-option__button {
    border-color: #393E41;
    box-shadow: none;
}
.product-details .product-form-buttons .quantity-selector-wrapper quantity-selector-component.quantity-selector {
    min-width: 160px;
    border-color: #393E41;
}
.product-details .product-form-buttons .quantity-selector-wrapper quantity-selector-component.quantity-selector  input[type="number"] {
    font-style: italic;
    font-size: 18px;
}
.product-details .product-form-buttons .quantity-selector-wrapper quantity-selector-component.quantity-selector button.button {
    background: none;
    color: #3D3A35;
}
.product-details .product-form-buttons button.button.add-to-cart-button span {
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.product-details .accordion--caret summary.details__header {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #393E41;
    font-weight: 500;
}
.product-details .accordion--caret details.details {
    border: none;
}
.product-information {
    margin-bottom: 50px;
}
.product-information span.jdgm-prev-badge__text {
    font-size: 14px;
    color: #393E41;
     font-family: var( --secondary-font);
}
.product-details .interlock-option-box .mw-stack>.mw-stack__item .mw-option__value {
    border: 1px solid #C9CCCF;
    padding: 10px;
    background: #f9faf5;
    border-radius: 5px;
}
.product-details .interlock-option-box .mw-stack>.mw-stack__item .mw-option__value .mw-option__value-title {
 font-family: var( --secondary-font);
}
.product-details .interlock-option-box .mw-stack>.mw-stack__item  .mw-stack__item {
    color: #7c7c7c;
       font-family: var( --secondary-font);
}
.product-details .interlock-option-box .mw-stack>.mw-stack__item .mw-option__value .mw-stack__item + .mw-stack__item {
    margin-left: 22px;
    line-height: 18px;
    font-size: 14px;
}
.product-details .interlock-option-box .mw-stack>.mw-stack__item .mw-option__value .mw-option__control {
    position: relative;
    top: 10px;
}
.interlock-option-box {
    margin-bottom: 25px;
}
.product-information .slideshow-controls__thumbnails-container .slideshow-controls__thumbnails img {
    border-radius: 5px;
}