.about-sec .image-block img {
	max-width: 100px;
}
.about-sec .text-block p
{font-size:16px;
font-weight:500;
color:#FDFDFC;
} 
.about-sec .text-block h4
{
font-size:16px;
color:#FDFDFC;
font-family:var(--secondary-font);
} 