
.about-sec .image-block img {
	max-width: 100px;
}
.about-sec .text-block p {
	font-size: 16px;
	font-weight: 500;
	color: #FDFDFC;
	max-width: 690px;
	line-height: normal;
}
.about-sec .text-block h4
{
font-size:16px;
color:#FDFDFC;
font-family:var(--secondary-font);
} 
.about-sec .slideshow-controls__dots {
	justify-content: center;
	display: flex;
	padding: 15px 0 25px 0;
	margin: 0;
}
.about-sec .slideshow-controls__dots  li button:after{
display:none;
}
.about-sec {
	background: url('https://cdn.shopify.com/s/files/1/0717/5595/6469/files/bg-img_026bb05d-4c9a-4908-bc4b-2a4e5b1b1835.png?v=1782544473') !important;
	background-size: cover !important;
}
.about-sec .slideshow-controls__dots li button {
	width: 70px;
	background: #4f5153;
	height: 2px;
    color: transparent;
}
.about-sec .slideshow-controls__dots li button[aria-selected="true"] {
	background: #FDFDFC;
}
.about-sec .slideshow-controls__dots li {
	color: transparent;
}