.about-sec .image-block img {
	max-width: 100px;
}
.about-sec .text-block p {
	font-size: 16px;
	font-weight: 500;
	color: #FDFDFC;
	max-width: 690px;
	line-height: normal;
}
.about-sec .text-block h4
{
font-size:16px;
color:#FDFDFC;
font-family:var(--secondary-font);
} 
.about-sec .slideshow-controls__dots {
	justify-content: center;
	display: flex;
}

.about-sec .slideshow-controls__dots  li{
	justify-content: center;
	display: flex;
} li::marker {
  color: transparent;
}