.smart-stencil-sec .text-block h1 {
    text-transform: uppercase;
    font-weight: 500;
}
.smart-stencil-sec .text-block p {
  	font-family: var( --secondary-font);
}
.smart-stencil-sec iframe {
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.streamline-operation .text-block h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.streamline-operation .text-block h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-style:italic;
    letter-spacing: 0.5px;
}
.streamline-operation .text-block p {
   font-family: var( --secondary-font);
}
.streamline-operation .text-block p strong {
    text-transform: uppercase;
    font-family:var(--font-h3--family);
}
.schedule-form  .text-block h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}