.matter-sec .text-block h3,
.max-tuff-sec  .text-block h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.matter-sec .text-block p,
.max-tuff-sec .text-block p  {
    font-family: var( --secondary-font);  
}
.matter-sec .button {
    font-weight: 500;
    letter-spacing: 0.5px;
}