.matter-sec .text-block h3,
.max-tuff-sec  .text-block h3,
.dura-tuff-sec .text-block h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin:0;
    letter-spacing: 0.5px;
}
.dura-tuff-sec .text-block h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin:0;
    font-style:italic;
    letter-spacing: 0.5px;
    color:#E94F37;
}
.matter-sec .image-block img{
    border-top-left-radius:80px;
      border-bottom-right-radius:80px;
      max-height:400px;
}
.matter-sec .text-block p,
.max-tuff-sec .text-block p,
.dura-tuff-sec .text-block p  {
    font-family: var( --secondary-font);  
}
.matter-sec .button {
    font-weight: 500;
    letter-spacing: 0.5px;
}
.max-tuff-sec {
    max-width: 80%;
    margin: auto;
}